spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://localhost:5432/fav_car_service
    username: postgres
    password: password
    hikari:
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

jwt:
  secret: mysecret
  issuer: vehicle-registry-app
  duration: 30m

security:
  max-failed-attempts: 5